{% extends 'base.html.twig' %}

{% block title %}Connectez-vous
{% endblock %}
{% block stylesheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('login') }}
{% endblock %}
{% block body %}
	<h1>Se connecter</h1>
	<form action="{{ path('login') }}" method="POST">
		<label for="username">Votre email</label>
		<input type="email" id="email" name="_username">

		<label for="password">Votre mot de passe</label>
		<input type="password" id="password" name="_password">

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<input type="submit">
	</form>
	<hr>
	<h2>Devenir contributeur</h2>
	<p>communauté, et enrichir nos pages avec vos propres contenus?</p>
	{% if error %}
		<p>{{ error.messageKey | trans(error.messageData,'security') }}</p>
	{% endif %}
{% endblock %}
