{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('homepage') }}
{% endblock %}
{% block body %}
	<section class="sectionTrendingArticle">
		<article id="trendingArticle">
			<p>Direction la Fashion week de Paris. Les tendances se confirment,des pull over-sizes et des pantalons haut-en-couleur ont animés les défilées.
			</p>
			<h1>FAHAMI le site des tendances mode et bien
				<span>+</span>
			</h1>
		</article>
		<a href="#" title="lien vers l'article de la semaine">
			<button class="primaryButton">Lire l'article maintenant !</button>
		</a>
	</section>
	<section>
		{# Inclusion du formulaire de recherche d'article dans la page d'accueil #}
		{% include "partials/_form_search.html.twig" %}
	</section>
	<section class="sectionTopArticleOfTheWeek">
		<h2>Le TOP articles de  la semaine</h2>
		<p>La semaine a été remplie de défilés et des coup d’éclats créatifs, bien loin des habitudes des saisons passées. Somme-nous entrain de vivre une révolution de la mode en cette année 2024 ?
		</p>

		<div class="divArticlesOfTheWeek">
			<article class="boxArticle">
				<h3>Le défilé De Diora sera dans les annales</h3>
				<div class="divResumeArticle">
					<p>Le défilé a pris un coup de boost avec le retour de Naomi Campbell sur la piste...</p>
					<a href="">
						<button>Lire la suite
							<img src="{{ asset('images/iconeGotoDetailArticle.svg')}}" alt="icone représentant vers la droite pour lire un article en globalité"></button>
					</a>
				</div>
			</article>
			<article class="boxArticle">
				<h3>Le défilé De Diora sera dans les annales</h3>
				<div class="divResumeArticle">
					<p>Le défilé a pris un coup de boost avec le retour de Naomi Campbell sur la piste...</p>
					<a href="">
						<button>Lire la suite
							<img src="{{ asset('images/iconeGotoDetailArticle.svg')}}" alt="icone représentant vers la droite pour lire un article en globalité"></button>
					</a>
				</div>
			</article>
			<article class="boxArticle">
				<h3>Le défilé De Diora sera dans les annales</h3>
				<div class="divResumeArticle">
					<p>Le défilé a pris un coup de boost avec le retour de Naomi Campbell sur la piste...</p>
					<a href="">
						<button>Lire la suite
							<img src="{{ asset('images/iconeGotoDetailArticle.svg')}}" alt="icone représentant vers la droite pour lire un article en globalité"></button>
					</a>
				</div>
			</article>
		</div>

	</section>
{% endblock %}
