<footer>
	<article>
		<h2>Contactez-nous</h2>
		<div class="divEmailPlusPhone">
			<img src="{{asset('images/iconeEmail.svg')}}" alt="icone représentant un mail">
			<p>contact@fahami.com</p>
			<img src="{{asset('images/iconePhone.svg')}}" alt="icone représentant un mail">
			<p>00000000006</p>
		</div>
	</article>
	<article class="headerArticleSocialMedias">
		<h2>Suivez-nous</h2>
		<div class="iconesSocialMedias">
			<img src="{{ asset('images/iconeFacebook.svg')}}" alt="icone du site Facebook">
			<img src="{{ asset('images/iconeLinkedin.svg')}}" alt="icone du site Linkedin">
			<img src="{{ asset('images/iconeSnapchat.svg')}}" alt="icone de l'application Snapchat">
			<img src="{{ asset('images/iconeTiktok.svg')}}" alt="icone de l'application Tiktok">
		</div>
	</article>
	<ul>
		<li>Les mentions légales</li>
		<li>Politique de cookies</li>
		<li>©2024 FAHAMI</li>
	</ul>
</footer>
