{# Affichage des messages flash #}
<ul class="listMessage">
	{% for typeOfMessage,message in app.flashes(["success","error"]) %}
		{% for flashMessage in message %}
			<li class="flash-{{typeOfMessage}}">{{flashMessage}}</li>
		{% endfor %}
	{% endfor %}
</ul>

{# Affichage des messages d'erreur du login à la page login #}
{% if app.request.pathinfo == '/login'  %}
	{% if error %}
		<p class="errorLogin">{{ error.messageKey | trans(error.messageData,'security') }}</p>
	{% endif %}

{% endif %}


{# Footer commun à toutes les pages de l'application #}
<footer>
	<article article="contactUs">
		<h2>Contactez-nous</h2>
		<div class="divEmailPlusPhone">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><path d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z"/></svg>
			<p>contact@fahami.com</p>
			<svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M3.71489 5.25806C3.52389 4.00006 4.41089 2.87006 5.76589 2.45606C6.00635 2.38304 6.26559 2.40419 6.49102 2.51524C6.71646 2.62629 6.89123 2.81891 6.97989 3.05406L7.41489 4.21406C7.48492 4.40067 7.49758 4.60395 7.45126 4.79781C7.40493 4.99167 7.30173 5.16727 7.15489 5.30206L5.86089 6.48706C5.79703 6.54553 5.74945 6.61959 5.7228 6.70197C5.69616 6.78436 5.69136 6.87226 5.70889 6.95706L5.72089 7.00906L5.75189 7.13906C5.91322 7.77057 6.1584 8.37763 6.48089 8.94406C6.83302 9.54547 7.26945 10.0934 7.77689 10.5711L7.81689 10.6071C7.8815 10.6644 7.95985 10.704 8.04432 10.7221C8.12879 10.7401 8.2165 10.736 8.29889 10.7101L9.97189 10.1831C10.162 10.1234 10.3657 10.1218 10.5567 10.1787C10.7477 10.2355 10.9173 10.3481 11.0439 10.5021L11.8359 11.4631C12.1659 11.8631 12.1259 12.4511 11.7469 12.8041C10.7099 13.7711 9.28389 13.9691 8.29189 13.1721C7.07541 12.1917 6.05025 10.9954 5.26789 9.64306C4.47788 8.29252 3.95161 6.80467 3.71489 5.25806ZM6.75689 7.02306L7.82889 6.03906C8.12273 5.76959 8.32933 5.41846 8.42216 5.03073C8.51499 4.643 8.48983 4.23638 8.34989 3.86306L7.91589 2.70306C7.73785 2.22983 7.38634 1.84212 6.93277 1.61868C6.47921 1.39524 5.9576 1.35283 5.47389 1.50006C3.79089 2.01506 2.43989 3.52406 2.72589 5.40906C2.92589 6.72506 3.38689 8.39906 4.40389 10.1471C5.24801 11.6052 6.35384 12.8951 7.66589 13.9521C9.15389 15.1471 11.1399 14.7391 12.4299 13.5371C12.799 13.1934 13.0231 12.7218 13.0563 12.2185C13.0896 11.7153 12.9296 11.2183 12.6089 10.8291L11.8169 9.86706C11.5635 9.55954 11.2241 9.3347 10.8421 9.22139C10.4601 9.10807 10.053 9.11144 9.67289 9.23106L8.28389 9.66806C7.92524 9.29831 7.6111 8.88785 7.34789 8.44506C7.09391 7.99727 6.89576 7.52005 6.75789 7.02406" fill="black"/>
			</svg>
			<p>00000000006</p>
		</div>
	</article>
	<article class="headerArticleSocialMedias">
		<h2>Suivez-nous</h2>
		<div class="iconesSocialMedias">
			<img src="{{ asset('images/iconeFacebook.svg')}}" alt="icone du site Facebook" class="iconeFacebook">
			<img src="{{ asset('images/iconeLinkedin.svg')}}" alt="icone du site Linkedin">
			<img src="{{ asset('images/iconeSnapchat.svg')}}" alt="icone de l'application Snapchat">
			<img src="{{ asset('images/iconeTiktok.svg')}}" alt="icone de l'application Tiktok">
		</div>
	</article>
	<ul>
		<li>Les mentions légales</li>
		<li>Politique de cookies</li>
		<li>©2024 FAHAMI</li>
	</ul>
</footer>
