<!-- Header sur écran mobile -->
<header class="header headerMobile">
	<div id="headerDivIconesLogoPlusMenu">
		<a href="{{ path('home') }}" title="lien vers la page d'accueil de l'application"><img src=" {{ asset('images/logo.svg')}} " alt=" icône représentant le logo du site" class="icone"></a>
		<img src="{{ asset('images/menuBurger.svg') }}" alt="icône représentant un menu burger" class="icone menuBurger">
	</div>
	<nav>
		<div class="headerListLinks">
			<div class="divLogoExitMenu">
				<img src="{{ asset('images/closeMenu.svg') }}" alt="icône représentant un croix de sortie fermeture du menu burger" class="icone iconeExitMenu">
			</div>
			<div class="divImageProfilePlusHeaderLinks">
				<a href="" title=""><img src="{{asset('images/iconeProfile.svg')}}" alt="icône représentant le profile utilisateur" class="imageProfile"></a>
				<ul class="headerNavListLinksRight">
					<li>
						<a href="{{path('articles_showAll')}}" title="lien vers la page des articles">
							<button>Articles</button>
						</a>
					</li>
					<li>
						<a href="#" title="">
							<button>Podcasts</button>
						</a>
					</li>
					{% if app.user == null %}
						<li>
							<a href="#" title="">
								<button>Devenir Contributeur</button>
							</a>
						</li>
					{% endif %}
					{% if is_granted("IS_AUTHENTICATED_FULLY") %}
						<li>

							<a href="{{ path('dashboard') }}" title="lien vers le dashboard">
								<button id="buttonConnect">Dashboard</button>
							</a>
						</li>
						<li></li>
						<li>

							<a href=" {{ path('logout')}}" title="lien de déconnexion de l'application">
								<button id="buttonConnect">Se déconnecter</button>
							</a>
						</li>
						<li>

						{% else %}
							<a href=" {{ path('login')}}" title="lien vers la page de connexion">
								<button id="buttonConnect">Se connecter</button>
							</a>

					{% endif %}

				</li>
			</ul>
		</div>
	</div>

</nav></header><!-- Header sur écran desktop  --><header class="header headerDesktop">
<div class="divHeaderDesktop">
	<a href="{{ path('home') }}" title="lien vers la page d'accueil de l'application"><img src=" {{ asset('images/logo.svg')}} " alt=" icône représentant le logo du site" class="icone"></a>
	<ul class="headerNavListLinks">
		<li>
			<a href="{{path('articles_showAll')}}" title="lien vers la page des articles">
				Articles
			</a>
		</li>
		<li>
			<a href="#" title="">
				Podcasts
			</a>
		</li>
		{% if app.user %}
			<li>

				<a href="{{ path('dashboard') }}" title="lien vers la page dashboard" class="linkDashboardDesktop">
					Dashboard
				</a>
			</li>
			<li>
				<a href="{{ path('logout')}}" title="lien vers la page devenir contributeur" class="linkLogoutDesktop">
					Déconnexion
				</a>
			</li>

		{% else %}
			<a href="#" title="lien vers la page de connexion">
				Devenir contributeur
			</a>
			<li>
				<a href="#" title="" class="active">
					Nous contacter
				</a>
			</li>
		{% endif %}
	</li>
</ul>
<a href="{{ path('login')}}" title="lien vers la page de connexion"><img src="{{asset('images/iconeProfile.svg')}}" alt="icône représentant le profile utilisateur" class="imageProfile"></a></div></header>
