{% extends "base.html.twig" %}
{% block title %}Devenir collaborateur
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('demandDetailPage')}}
{% endblock %}
{% block body %}
	<h1>Devenir collaborateur</h1>
	{# Section présentant le contenu de la demande #}
	<section
		class="sectionPresentDemand">
		{# Présenter l'idendité du demandeur(se) #}
		<ul>
			<li>
				<span>De :</span>
				{{ demand.fullname}}
				({{ demand.email }})
			</li>
			<li>
				<span>Objet :</span>
				Candidature pour devenir auteur sur Fahami.com
			</li>
			<li>
				<span>Date :
				</span>
				{{ demand.createdAt |  format_datetime('full',locale="fr") }}
			</li>
		</ul>

		{# Afficher le contenu du message de la demande #}
		<p id="message">{{ demand.message }}</p>

		{# Afficher le CV #}
		<article>
			<h2>Le CV</h2>
			{# Vue desktop de l'emplacement du CV #}
			<embed
			type="application/pdf" src="{{ cvFile }}" class="desktop"/>

			{# Vue mobile de l'emplacement du CV #}
			<div class="mobile">
				<a href="{{ cvFile }}" id="linkViewCV" download>
					<img src="{{ asset("build/images/iconeFileUpload.svg") }}" alt="icone représentant un fichier">
					<button class="primaryButton">Télécharger</button>
				</a>
			</div>
		</article>
	</section>

	{# Section présentant le formulaire de traitement de la demande #}
	<section
		class="sectionGivingAccess">

		{# Charger le composant Twig de formulaire dynamique de l'entité User #}
		<twig:Authorisation/>
	</section>

{% endblock %}
