{% extends 'base.html.twig' %}

{% block title %}Rejoignez-nous
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('demandToBecomeMember') }}
{% endblock %}
{% block body %}
	<h1>Rejoignez-nous</h1>

	{# Début du formulaire #}
	{{ form_start(form)}}
	<div class="divLabelPlusInput">
		{{ form_label(form.firstname) }}
		{{ form_widget(form.firstname) }}
	</div>
	<div class="divLabelPlusInput">
		{{ form_label(form.lastname) }}
		{{ form_widget(form.lastname) }}
	</div>
	<div class="divLabelPlusInput">
		{{ form_label(form.email) }}
		{{ form_widget(form.email) }}
	</div>
	<div class="divLabelPlusInput">
		{{ form_label(form.phone) }}
		{{ form_widget(form.phone) }}
	</div>
	<div class="divLabelPlusInput">
		{{ form_label(form.message) }}
		{{ form_widget(form.message) }}
	</div>
	{{ form_label(form.cvFile)}}
	<div id="divRowOfInputCvFile">
		<p>Glissez déposez ou parcourir</p>
		<img src="{{ asset('images/iconeFileUpload.svg') }}" alt="icone représentant un fichier">
		<p>PDF</p>
		<p id="filename"></p>
		{{ form_widget(form.cvFile) }}
	</div>

	<div id="divLabelPlusInputRGPD">
		<strong>{{ form_label(form.rgpd)}}</strong>
		{{ form_widget(form.rgpd)}}
	</div>

	{# ajout de façon automatisé de l'input contenant le token CSRF Dynamique #}
	{{ form_rest(form)}}
	<input type="submit" value="Envoyer"/>
	{{ form_end(form, {render_rest: false})}}
	{# Fin du formulaire #}

	{# Affichage des erreurs globales lors de la soumission #}
	{{ form_errors(form)}}

	{# Affichage des erreurs liés au non-respect des contraintes de validation des données #}
	{{ form_errors(form.firstname)}}
	{{ form_errors(form.lastname)}}
	{{ form_errors(form.message)}}
	{{ form_errors(form.phone)}}
	{{ form_errors(form.rgpd)}}
{{ form_errors(form.cvFile)}}{% endblock %}
