{% extends 'base.html.twig' %}

{% block metadescription %}
	<meta name="description" content="la liste des articles du site">
{% endblock %}
{% block title %}Articles
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('allArticlesPage') }}
{% endblock %}
{% block body %}
	{% include "partials/_form_search.html.twig" %}
	<h1>Les articles</h1>

	{% if articles.items is not empty%}
		<div class="divAllArticles">
			{% for article in articles %}
				<a href="{{ path("articles_showDetailedArticle", {id: article.id }) }}">
					<article class="boxArticle" style="background-image: url({{ article.image }})">
						<h3>{{ article.title }}</h3>
						<div
							class="divResumeArticle">
							{# Afficher les 55 premiers caractères du résumé #}
							<p>{{ article.abstract | slice(0,55) }}...
							</p>
							<button>Lire la suite
								<img src="{{ asset('build/images/iconeGotoDetailArticle.svg')}}" alt="icone représentant vers la droite pour lire un article en globalité" loading="lazy"></button>
						</div>
					</article>
				</a>
			{% endfor %}
		</div>
	{% else %}
		<p id="messageNoArticle">Aucun article publié pour l'instant</p>
	{% endif %}


	{# Mise en place du HTML de pagination grâce à la fonction Twig knp_pagination_render() apportée par KnpPaginator #}
	{% if articles is defined %}
		{{ knp_pagination_render(articles) }}
	{% endif %}
{% endblock %}
