{% extends "base.html.twig" %}
{% block title %}
	{# Titre de la page #}
	{{article.title}}
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('articlePageDetail') }}
{% endblock %}
{% block body %}
	<section id="sectionArticleDetail">
		<h1>{{ article.title }}</h1>
		{% if file %}
			<figure>
				<img src="{{ file }}" alt="image d'illustration de l'article" class="imageIllustration">
				<figcaption>Photographe:
					{{ mainImageIllustration.photographer.fullname ?? mainImageIllustration.photographer.pseudonyme}}
				</figcaption>
			</figure>
		{% endif %}
		<div>
			{{ article.content | raw }}
		</div>
		<div class="divAuthorPlusDateOfPublication">
			<p id="dateOfPublication">Publié le
				{{ article.createdAt | format_date('full', locale="fr")}}</p>
			<div class="divAuthorPlusIconePen">
				<p>{{ article.author.fullname }}
				</p>
				<img src="{{ asset('build/images/iconePen.svg')}}" alt="icône représentant un stylo">
			</div>
		</div>

		{# Ajout d'un bouton de modifiation de l'article si l'auteur de l'article consulte l'article #}
		{% if article.author == app.user %}
			<a href="{{ path('articles_update',{'id': article.id})}}" class="linkUpdateArticle">
				<button id="buttonUpdateArticle">Modifier l'article</button>
			</a>
		{% endif %}
	</section>
	<section id="sectionRecommandationArticles">
		<h2>Les recommandations</h2>
		<div class="divAllArticlesRecommandition">

			<article>
				<img src="{{ asset('build/images/illustrations/imageIllustrationRecommandation.png')}}" alt="image représentant une femme sur un podium" class="imageIllustrationRecommandationArticle">
				<div class="divGlobalInfoAuthor">
					<div class="divLinePlusInfoAuther">
						<img src="{{ asset('build/images/iconeLine.svg')}}" alt="image représentant une femme sur un podium">
						<p>Le défilé de John John</p>
					</div>
					<div class="divLinePlusInfoAuther">
						<img src="{{ asset('build/images/iconeLine.svg')}}" alt="image représentant une femme sur un podium">
						<p>Par
							<a href="">John Dow</a>
						</p>
					</div>
				</div>
			</article>
			<article>
				<img src="{{ asset('build/images/illustrations/imageIllustrationRecommandation.png')}}" alt="image représentant une femme sur un podium" class="imageIllustrationRecommandationArticle">
				<div class="divGlobalInfoAuthor">
					<div class="divLinePlusInfoAuther">
						<img src="{{ asset('build/images/iconeLine.svg')}}" alt="image représentant une femme sur un podium">
						<p>Le défilé de John John</p>
					</div>
					<div class="divLinePlusInfoAuther">
						<img src="{{ asset('build/images/iconeLine.svg')}}" alt="image représentant une femme sur un podium">
						<p>Par
							<a href="">John Dow</a>
						</p>
					</div>
				</div>
			</article>
			<article>
				<img src="{{ asset('build/images/illustrations/imageIllustrationRecommandation.png')}}" alt="image représentant une femme sur un podium" class="imageIllustrationRecommandationArticle">
				<div class="divGlobalInfoAuthor">
					<div class="divLinePlusInfoAuther">
						<img src="{{ asset('build/images/iconeLine.svg')}}" alt="image représentant une femme sur un podium">
						<p>Le défilé de John John</p>
					</div>
					<div class="divLinePlusInfoAuther">
						<img src="{{ asset('build/images/iconeLine.svg')}}" alt="image représentant une femme sur un podium">
						<p>Par
							<a href="">John Dow</a>
						</p>
					</div>
				</div>
			</article>
		</div>
	</section>
{% endblock %}
