{% extends "base.html.twig" %}
{% block title %}
	{% if app.request.get('_route') == 'articles_update'  %}
		Mettre à jour un article
	{% else %}
		Créer un nouvel article
	{% endif %}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('createArticlePage') }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('createArticlePage') }}
	{# Chargement des scripts de CK Editor via le CDN #}
	<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
	{# Ecrasement du CK Editor via le fichier CK Editor personnalisé #}
	<script src=" {{asset('js/ckeditor.js')}}"></script>
{% endblock %}
{% block body %}
	{% if is_granted("ROLE_AUTHOR") %}
		{% if app.request.get('_route') == 'articles_update'  %}
			<h1>Modifier un article</h1>
		{% else %}
			<h1>Ecrire un nouvel article</h1>
		{% endif %}
		{# La vue du formulaire de création d'article #}
		{{form_start(form)}}
		<div class="divLabelPlusInputTitle">
			{{ form_label(form.title)}}
			{{ form_widget(form.title)}}
		</div>
		<div id="divGlobalInputImage">
			<p id="labelIllustrationImage">Image d’illustration  principale</p>
			{% if article is defined %}
				{% if article %}
					{% if article.imageIllustration %}
						<img id="CurrentImageIllustration" src="{{ vich_uploader_asset(article,'imageIllustrationFile')}}" alt="">
					{% else %}
						<p>L'article ne dispose pas d'image d'illustration principale</p>
					{% endif %}
				{% endif %}
			{% endif %}
			<div
				id="divRowOfInputImageIllustration">
				{# {% set imageUrl = vich_uploader_asset(article, 'imageIllustrationFile') %} #}
				{{ form_widget(form.imageIllustrationFile)}}
				<img src="{{ asset('images/iconeFileUpload.svg') }}" alt="icone représentant un fichier">
				<p>JPEG, JPG ou PNG</p>
				<p>Glissez déposez ou parcourir</p>
			</div>
		</div>
		<div class="divLabelPlusInputSelectCategory">
			{{ form_label(form.category)}}
			{{ form_widget(form.category)}}
		</div>
		<input type="hidden">
		<textarea id="editor" placeholder="Contenu de l'article, images secondaires y compris, sans le titre"></textarea>
		<div class="divLabelPlusTextareaAbstract">
			{{ form_label(form.abstract)}}
			{{ form_widget(form.abstract)}}
		</div>
		{{form_errors(form.imageIllustrationFile)}}
		{{form_errors(form.title)}}

		{{form_errors(form)}}
		<div class="divButtonSubmit">
			<button class="secondaryButton buttonPreview">Prévisualiser l'article</button>
			{% if app.request.get('_route') == 'articles_update'  %}
				<button type="submit" class="primaryButton">Mettre à jour</button>
			{% else %}
				<button type="submit" class="primaryButton">Publier</button>
			{% endif %}

		</div>
		{{form_end(form)}}
	{% endif %}
{% endblock %}
