{% extends "base.html.twig" %}
{% block title %}
	Créer un nouvel article
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('createArticlePage') }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('createArticlePage') }}
	{# Chargement des scripts de CK Editor via le CDN #}
	<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
	{# Ecrasement du CK Editor via le fichier CK Editor personnalisé #}
	<script src=" {{asset('js/ckeditor.js')}}"></script>
{% endblock %}
{% block body %}
	{% if is_granted("ROLE_AUTHOR") %}
		<h1>Ecrire un nouvel article</h1>
		{# La vue du formulaire de création d'article #}
		{{form_start(form)}}
		<div class="divLabelPlusInputTitle">
			{{ form_label(form.title)}}
			{{ form_widget(form.title)}}
		</div>
		<div>
			<p id="labelIllustrationImage">Image d’illustration  principale</p>
			<div id="divRowOfInputImageIllustration">
				{{ form_widget(form.imageIllustration)}}
				<img src="{{ asset('images/iconeFileUpload.svg') }}" alt="icone représentant un fichier">
				<p>JPEG, JPG ou PNG</p>
				<p>Glissez déposez ou parcourir</p>
			</div>
		</div>
		<div class="divLabelPlusInputSelectCategory">
			{{ form_label(form.category)}}
			{{ form_widget(form.category)}}
		</div>
		<input type="hidden">
		<textarea id="editor" placeholder="Contenu de l'article, images secondaires y compris, sans le titre"></textarea>
		{{form_errors(form.imageIllustration)}}
		{{form_errors(form.title)}}

		{{form_errors(form)}}
		<div class="divButtonSubmit">
			<button class="secondaryButton buttonPreview">Prévisualiser l'article</button>
			<button type="submit" class="primaryButton">Publier</button>
		</div>
		{{form_end(form)}}
	{% endif %}
{% endblock %}
