{% extends 'base.html.twig' %}

{% block title %}Les podcasts
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('allPodcasts') }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('allPodcasts') }}
{% endblock %}
{% block body %}
	<h1>Les podcasts</h1>
	<p>Nos podcasts ont pour mission de décortiquer le monde de la mode et ses contours</p>

	<section id="sectionPodcasts">
		<article id="articleOeilDeLaMode">
			<a href="{{ path("podcasts_show_detailled_podcast", {id: 1} )}}">
				<button>L’oeil de
					<span>la mode</span>
				</button>
			</a>
		</article>
		<article id="slogan">
			<h2>L'équipe des podcasteurs</h2>
			<p>Vous souhaitez rejoindre notre équipe ou même être podcasté ?</p>
			<p>Inscrivez-vous maintenant via le formulaire.</p>
			<div>
				<a href="{{ path("admin_get_demand_members")}} " title="lien vers la page de demande de devenir collaborateur">
					<button>Participer maintenant !</button>
				</a>
			</div>
		</article>
		<article id="articleLaModeParle">
			<button>
				<span>la mode</span>
				parle
			</button>
		</article>
	</section>

	<section id="sectionTopEmissions">
		<article id="articleTopEmission">
			<h2>Le TOP émissions de  la semaine</h2>
			<p>La semaine a été  ponctuée par des invités phares, telle que Farelll  Wall... On vous  laisse découvrir les passionnantes discussions avec nos invités</p>
		</article>
		<div class="divTopFourEpisodes">
			{# Affichage des lecteurs audio des podcasts #}
			{# Stockage de l'url de l'audio dans une variable link #}
			{% set link =  "/upload/podcast/hardheaded_ilovethewayyousee.mp3" %}
			{# Affichade de façon dynamique à l'aide d'options dynamiques #}
			{% include '/partials/_audio_player.html.twig' with { url: link, podcast: "L'oeil de la mode", title: "La mode en 2024" } %}
			{% include '/partials/_audio_player.html.twig' with { url: link, podcast: "L'oeil de la mode", title: "La mode en 2024" } %}
			{% include '/partials/_audio_player.html.twig' with { url: link, podcast: "L'oeil de la mode", title: "La mode en 2024" } %}
		{% include '/partials/_audio_player.html.twig' with { url: link, podcast: "L'oeil de la mode", title: "La mode en 2024" } %}
	</div>


</section>{% endblock %}
